/* Task.css */
.task-card {
    width: 30vw;
    margin-bottom: 10px;
    border: 1px solid #293045;
    text-align: left;
    background: linear-gradient(45deg, #311b92 30%, #6200ea 90%);
    transition: box-shadow 0.3s ease; /* Add transition for smoother effect */
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15); /* Glow effect on hover */
}

div.MuiCardContent-root { /* specifying the div makes this more selective and take priority over other style on the component */
    padding-right: 3.5em; /* Prevent heading and text from going on top of buttons */
}